@viewport {
    width: device-width;
}

body {
    background-color: hsl(30, 54%, 90%);
}

img {
    border-radius: 25px;
}

p, ul, ol, td {
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
    padding: 2%;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 4%;
    border-radius: 25px;
}

.line-h {
    line-height: 2rem;
}

.dark-raspberry {
    color: hsl(332, 51%, 32%);
}

.nutmeg {
    color: hsl(14, 45%, 36%);
}


/* Mobile styles */
@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
    img {
        /* width: 100%; */
        border-radius: 0;
    }
}


